<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>ようこそ！</h1>
        </div>
        <div>
            <a href="/login">
                <button>ログイン</button>
            </a>
            <a href="/signup">
                <button>会員登録</button>
            </a>
        </div>
    </div>
</body>
</html>